- model_class = Vote
.span6.offset3
  .page-header
    %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

  .progress.progress-striped.active
    .bar.bar-info{:style => "width: #{@boypercentage}%;"}
      #{@boypercentage}%
    .bar.bar-danger{:style => "width: #{@girlpercentage}%;"}
      #{@girlpercentage}%
  = link_to t('.new', :default => t("helpers.links.new")), new_vote_path, :class => 'btn btn-primary'
